apex==0.9.10dev
beartype==0.18.5
cuml==0.6.1.post1
dinov2==0.0.1
einops==0.8.1
fastai==2.7.18
fvcore==0.1.5.post20221221
h5py==3.11.0
ninja
numpy==2.2.3
omegaconf==2.3.0
packaging
pandas==2.2.3
Pillow==11.1.0
scikit_learn==1.6.1
scipy==1.15.2
submitit==1.5.2
torch==2.5.1
torchmetrics==1.4.0.post0
torchvision==0.20.1
tqdm==4.67.1
vector_quantize_pytorch==1.21.9
xformers==0.0.28.post3
flash-attn==2.6.3
